:root {
    --clr-bright-orange: hsl(31, 77%, 52%);
    --clr-dark-cyan: hsl(184, 100%, 22%);
    --clr-very-dark-cyan: hsl(179, 100%, 13%);
    --clr-transparent-white: hsla(0, 0%, 100%, 0.75);
    --clr-very-light-gray: hsl(0, 0%, 95%);

    /* Font */
    --default-fs: 0.9375rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    min-height: 100vh;
    font-family: "Lexend Deca", sans-serif;
    display: grid;
    place-items: center;
}

.main-card {
    max-width: 960px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.vehicle-card:nth-child(1) {
    background-color: var(--clr-bright-orange);
    padding: 3em;
    border-radius: 10px 0 0 10px;
}

.vehicle-card:nth-child(2) {
    background-color: var(--clr-dark-cyan);
    padding: 3em;
}

.vehicle-card:nth-child(3) {
    background-color: var(--clr-very-dark-cyan);
    padding: 3em;
    border-radius: 0 10px 10px 0;
}

.vehicle-icon {
    padding-bottom: 2em;
}

.vehicle-icon img {
    display: block;
}

.vehicle-title {
    text-transform: uppercase;
    font-family: "Big Shoulders Display", sans-serif;
    font-weight: 700;
    font-size: 2.5rem;
    padding-bottom: 0.75em;
    line-height: 1;
    color: var(--clr-very-light-gray);
}

.vehicle-description {
    line-height: 1.6;
    padding-bottom: 5em;
    color: var(--clr-transparent-white);
}

.learn-more-btn {
    padding: 0.75em 2.2em;
    font-size: 1rem;
    font-family: "Big Shoulders Display", sans-serif;
    border-radius: 50px;
    border: 3px solid transparent;
    cursor: pointer;
    font-weight: 700;
    letter-spacing: 1px;
}

.learn-more-btn:hover {
    border: 3px solid var(--clr-very-light-gray);
}

.learn-more-orange {
    color: var(--clr-bright-orange);
}

.learn-more-cyan {
    color: var(--clr-dark-cyan);
}

.learn-more-darkcyan {
    color: var(--clr-very-dark-cyan);
}

.learn-more-orange:hover {
    background-color: var(--clr-bright-orange);
    color: var(--clr-very-light-gray);
    transition: 0.3s ease;
}

.learn-more-cyan:hover {
    background-color: var(--clr-dark-cyan);
    color: var(--clr-very-light-gray);
    transition: 0.3s ease;
}

.learn-more-darkcyan:hover {
    background-color: var(--clr-very-dark-cyan);
    color: var(--clr-very-light-gray);
    transition: 0.3s ease;
}

@media (max-width: 1000px) {
    .main-card {
        grid-template-columns: 1fr;
        margin: 1em;
    }

    .vehicle-card:nth-child(1) {
        border-radius: 10px 10px 0 0;
    }

    .vehicle-card:nth-child(3) {
        border-radius: 0 0 10px 10px;
    }
}
